:root {
  --image-size: 128px;
  --login-image-size: 50px;
}

html {
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    172deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 20%,
    rgba(8, 37, 140, 1) 32%,
    rgba(4, 124, 197, 1) 62%,
    rgba(2, 174, 230, 1) 88%,
    rgba(0, 212, 255, 1) 100%
  );
  background-attachment: fixed; */
}

body {
  /* background: hsl(219, 100%, 12%); */
  background: #2e2e2e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

section {
  padding: 5rem 0;
}

.section-center {
  width: 70vw;
  margin: 0 auto;
}

.btn {
  padding: 1rem 4rem;
  margin: 1rem;
  color: #fff;
  border: none;
  background-color: #646464;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
